{% extends 'announcements/base.html' %}


{% block content %}
  <div class="login-container">
    <h2>Zaloguj się</h2><br>
    {% if error %}
      <div class="alert-danger">
        {{ error }}<br>
      </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      Nazwa użytkownika:<br>
      <input type="text" name="username"><br><br>
      Hasło:<br>
      <input type="password" name="password"><br><br>
      <input class="normal-button" type="submit" value="Zaloguj">
    </form>
  </div>
{% endblock %}